@import '../../theme/variables';

// Accordion.
.bx--accordion {
  margin-top: 16px;
}

.bx--accordion__content {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 1rem !important;
}

// Text inputs.
.bx--search-close {
  // Fix janky alignment when other items in the grid are larger in height than this text input.
  top: auto;
}

// Dropdowns.
.bx--dropdown__wrapper {
  grid-column-end: span 6;
}

// Sliders.
.bx--form-item {
  grid-column-end: span 5;

  .bx--slider {
    min-width: 7rem;
  }

  @media (max-width: $break-md-width) {
    // Expand to the full grid width so it's still usable.
    grid-column-end: span 12;
  }
}

.bx--slider-text-input {
  display: none;
}

.bx--slider__range-label {
  visibility: hidden;

  // Hack to change the labels of the slider.
  &:after {
    visibility: visible;
    margin-left: -9px;
    content: "Doesn't matter";
  }
  &:first-child:after {
    content: "Near me";
  }
}
